node_modules
.git
*.zip
*.exe
AndroidSDK
ventoy
nginx
gradle
cmake.zip
nasm.zip
platform-tools.zip
gradle-8.5-bin.zip
deploy-package-*
test-electron
test-electron-2
electron-test
desktop-overlay/node_modules
headybuddy/node_modules
windsurf-next
.heady
offline-packages
